{{#each jugadores}}
<p>Nombre:{{Nombre}}<br>
Posicion:{{POS}}<br>
Edad:{{edad}}<br>
Estatura:{{est}}<br>
Peso:{{P}}<br>
Nacionalidad:{{NAC}}<br>
Apariciones:{{Ap}}<br>
Apariciones como Sustitutos:{{SUB}}<br>
Asistencias:{{A}}<br>
Goles concedidos:{{GA}}<br>
Atajadas:{{At}}<br>
Faltas Cometidas:{{FC}}<br>
Faltas sufridas:{{FS}}<br>
Tarjetas Amarillas:{{TA}}<br>
Tarfjetas Rojas:{{TR}}<br>
</p>
{{/each}}

<a href="/">Retornar</a>