<table border="1">
  <tr>
    <td>Nombre</td><td>POS</td><td>edad</td><td>est</td><td>P</td><td>NAC</td><td>Ap</td><td>SUB</td><td>A</td><td>GA</td><td>At</td><td>FC</td><td>FS</td><td>TA</td><td>TR</td>
  </tr>
{{#each jugadores}}
  <tr>  
     <td>{{nombre}} </td> <td>{{POS}}</td> <td>{{edad}}</td><td>{{est}}</td><td>{{P}}</td><td>{{NAC}}</td><td>{{Ap}}</td><td>{{SUB}}</td><td>{{A}}</td><td>{{GA}}</td><td>{{At}}</td><td>{{FC}}</td><td>{{FS}}</td><td>{{TA}}</td><td>{{TR}}</td>
  </tr>   
{{/each}}
</table>
<a href="/">Retornar</a>