{{#each tiendas}}
<p>nombre comercial:{{nombre_comercial}}<br>
tipo:{{tipo}}<br>
direccion:{{direccion}}<br>
codigo postal:{{codpost}}<br>
poblacion:{{poblacion}}<br>
latitud:{{lat}}<br>
longitud:{{lng}}<br>
</p>
{{/each}}

<a href="/">Retornar</a>