<table border="1">
  <tr>
    <td>nombre comercial</td><td>tipo</td><td>direccion</td><td>codigo postal</td><td>poblacion</td><td>latitud</td><td>longitud</td>
  </tr>
{{#each tiendas}}
  <tr>  
     <td>{{nombre_comercial}} </td> <td>{{tipo}}</td> <td>{{direccion}}</td><td>{{codpost}}</td><td>{{poblacion}}</td><td>{{lat}}</td><td>{{lng}}</td>
 </tr>   
{{/each}}
</table>
<a href="/">Retornar</a>