{{#each clientes}}
<p>nombre:{{nombre}}<br>
apellido:{{apellido}}<br>
fecha:{{fecha}}<br>
peso:{{P}}<br>
estatura:{{est}}<br>
domicilio:{{domicilio}}<br>
codigo postal:{{codpost}}<br>
telefono 1:{{tel1}}<br>
telefono 2:{{tel2}}<br>
email:{{email}}<br>
edad:{{edad}}<br>
</p>
{{/each}}

<a href="/">Retornar</a>