<table border="1">
  <tr>
    <td>nombre</td><td>apellido</td><td>fecha</td><td>P</td><td>est</td><td>domicilio</td><td>codpost</td><td>tel1</td><td>tel2</td><td>email</td><td>edad</td>
  </tr>
{{#each clientes}}
  <tr>  
     <td>{{nombre}} </td> <td>{{apellido}}</td> <td>{{fecha}}</td><td>{{P}}</td><td>{{est}}</td><td>{{domicilio}}</td><td>{{codpost}}</td><td>{{tel1}}</td><td>{{tel2}}</td><td>{{email}}</td><td>{{edad}}</td>
  </tr>   
{{/each}}
</table>
<a href="/">Retornar</a>